
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/toastr.js"></script>
    <script type="text/jsvascript" src="/js/sweetalert2.js"></script>
    <script type="text/javascript" src="/js/privateJs/globalFunctions.js"></script>
    <script type="text/javascript" src="/js/privateJs/custom.js"></script>
    <script type="text/javascript" src="/js/privateJs/contacts.js"></script>
    <script type="text/javascript" src="/js/privateJs/profile.js"></script>
    <script type="text/javascript" src="/js/privateJs/chat.js"></script>

    

</body>
</html>