<%- include('partials/_header'); %>


    <div class="surface">
        <div class="main">
            <div class="mainSettings" id="mainSettingArea">
                <button class="contacts">
                    <i class="fas fa-users"></i>
                </button>
                <button class="chat active">
                    <i class="fas fa-comment"></i>
                </button>
                <button class="profile">
                    <i class="fas fa-user-circle"></i>
                </button>
            </div>
            <div class="person">
                <div class="profileInfoArea">
                    <div class="infoArea">
                        <img class="profilePhoto" src="/images/profile-photo.png" alt="">
                        <div class="content">
                            <div class="name">
                                <%= myName %>
                            </div>
                            <div class="shortDetail">
                                <%= myEmail %>
                            </div>
                        </div>
                    </div>
                    <div class="mySettings">
                        <button onclick="mySettingsFunction()" class="settingsButton">
                            <i class="far fa-ellipsis-h"></i>
                        </button>
                        <div id="myProfileSettings" class="settingsContent">
                            <button class="btnProfile"><i class="fas fa-user-circle"></i>Profile</button>
                            <button class="btnCreatePerson"><i class="fas fa-user-plus"></i>Create New Person</button>
                            <button class="btnContacts"><i class="fas fa-users"></i>Contacts</button>
                            <a href="/users/logout"><i class="fas fa-sign-out"></i>Logout</a>
                        </div>
                    </div>
                </div>
                

            </div>
            <div class="personDetail">
                <div class="bodyBackground"></div>
                <div class="header">
                    <div class="infoArea">
                        <img class="profilePhoto" src="/images/profile-photo2.png" alt="">
                        <div class="content">
                            <div class="name">
                                Aamir Khan
                            </div>
                            <div class="shortDetail">
                                aamir.khan@hotmail.com
                            </div>
                        </div>
                    </div>
                    <div class="settings">
                        <a class="settingButton" href="#">
                            <i class="far fa-info-circle"></i>
                        </a>
                    </div>
                </div>
                <div class="body">
                    
                </div>
                <div class="footer">
                    <textarea class="text" name="text" placeholder="Type a message"></textarea>
                    <button class="sendButton">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    

<%- include('partials/_footer'); %>
