<%- include('partials/_header'); %>

    <div class="surface">
        <div class="main">
            <div class="person">
                <div class="profileInfoArea">
                    <div class="infoArea">
                        <img class="profilePhoto" src="/images/profile-photo.png" alt="">
                        <div class="content">
                            <div class="name">
                                Hasan Bekir DOĞAN
                            </div>
                            <div class="shortDetail">
                                hasan.bekir.doğan@hotmail.com
                            </div>
                        </div>
                    </div>
                    <div class="settings">
                        <a class="settingButton" href="#">
                            <i class="far fa-ellipsis-h"></i>
                        </a>
                    </div>
                </div>
                <div class="searchArea">
                    <input type="text" class="search" placeholder="Search Name">
                    <i class="fas fa-search"></i>
                </div>
                <div class="personList">
                    <div class="eachPerson">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/profile-photo3.png" alt="">
                        <div class="content">
                            <div class="name">
                                Emily Blunt
                            </div>
                            <div class="shortDetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe!
                            </div>
                        </div>
                        <div class="time">
                            04/10/2022 23:28
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                            <div class="shortDetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe!
                            </div>
                        </div>
                        <div class="time">
                            04/10/2022 23:28
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson active">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/profile-photo2.png" alt="">
                        <div class="content">
                            <div class="name">
                                Aamir Khan
                            </div>
                            <div class="shortDetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe!
                            </div>
                        </div>
                        <div class="time">
                            04/10/2022 23:28
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                            <div class="shortDetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe!
                            </div>
                        </div>
                        <div class="time">
                            04/10/2022 23:28
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                            <div class="shortDetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe!
                            </div>
                        </div>
                        <div class="time">
                            04/10/2022 23:28
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                            <div class="shortDetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe!
                            </div>
                        </div>
                        <div class="time">
                            04/10/2022 23:28
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                            <div class="shortDetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe!
                            </div>
                        </div>
                        <div class="time">
                            04/10/2022 23:28
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                            <div class="shortDetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe!
                            </div>
                        </div>
                        <div class="time">
                            04/10/2022 23:28
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                            <div class="shortDetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe!
                            </div>
                        </div>
                        <div class="time">
                            04/10/2022 23:28
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                            <div class="shortDetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe!
                            </div>
                        </div>
                        <div class="time">
                            04/10/2022 23:28
                        </div>
                        <hr class="bottomLine">
                    </div>
                    <div class="eachPerson">
                        <hr class="topLine">
                        <img class="profilePhoto" src="/images/default-image.png" alt="">
                        <div class="content">
                            <div class="name">
                                Eric Harris
                            </div>
                            <div class="shortDetail">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, saepe!
                            </div>
                        </div>
                        <div class="time">
                            04/10/2022 23:28
                        </div>
                        <hr class="bottomLine">
                    </div>
                </div>
            </div>
            <div class="personDetail">
                <img class="bodyBackground" src="/images/chat-bg.png" alt="">
                <div class="header">
                    <div class="infoArea">
                        <img class="profilePhoto" src="/images/profile-photo2.png" alt="">
                        <div class="content">
                            <div class="name">
                                Aamir Khan
                            </div>
                            <div class="shortDetail">
                                aamir.khan@hotmail.com
                            </div>
                        </div>
                    </div>
                    <div class="settings">
                        <a class="settingButton" href="#">
                            <i class="far fa-info-circle"></i>
                        </a>
                    </div>
                </div>
                <div class="body">
                    <div class="eachMessage you">
                        <div class="subRegion">
                            <div class="messageArea">
                                <div class="message">
                                    Hello!
                                </div>
                                <div class="time">
                                    04/10/2022 23:28
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eachMessage me">
                        <div class="subRegion">
                            <div class="messageArea">
                                <div class="message">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                    Nihil earum quas culpa assumenda voluptatibus ipsa repellendus 
                                    reprehenderit in maiores illum? Quaerat beatae voluptatibus 
                                    dignissimos laboriosam aspernatur expedita a impedit eius?
                                </div>
                                <div class="time">
                                    04/10/2022 23:28
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eachMessage you">
                        <div class="subRegion">
                            <div class="messageArea">
                                <div class="message">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                    Nihil earum quas culpa assumenda voluptatibus ipsa repellendus 
                                    reprehenderit in maiores illum? Quaerat beatae voluptatibus 
                                    dignissimos laboriosam aspernatur expedita a impedit eius?
                                </div>
                                <div class="time">
                                    04/10/2022 23:28
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eachMessage you">
                        <div class="subRegion">
                            <div class="messageArea">
                                <div class="message">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum magnam rem aspernatur repellat sint numquam explicabo molestiae veniam magni amet obcaecati temporibus reprehenderit, consequuntur recusandae optio quaerat iusto modi quo deleniti est non.
                                </div>
                                <div class="time">
                                    04/10/2022 23:28
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <textarea class="text" name="text"></textarea>
                    <button class="sendButton">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer'); %>